@charset "UTF-8";
.profile {
  display: flex;
  max-width: 1620px;
  margin: 0 auto 42px;
  justify-content: space-between;
}
.profile .profile-img {
  flex-basis: 49%;
  position: relative;
  padding-left: 8%;
  box-sizing: border-box;
}
.profile .profile-img::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 90px;
  background: url(../images/profile-main-shadow.png) center center no-repeat;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.profile .profile-img > img {
  width: 393px;
  position: relative;
  display: none;
}
.profile .profile-img .plus-ani {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-bottom: -26px;
}
.profile .profile-img .plus-ani img:nth-child(1) {
  opacity: 0.33;
}
.profile .profile-img .plus-ani img:nth-child(2) {
  opacity: 0.66;
}
.profile .profile-img .plus-ani img:nth-child(3) {
  opacity: 1;
}
.profile .profile-img .plus-ani img:nth-child(4) {
  opacity: 0;
}
.profile .profile-img .plus-ani.active {
  margin-bottom: 0;
  transition: 0.5s;
}
.profile .profile-img .plus-ani.active img:nth-child(1) {
  opacity: 0;
  transition: 0.5s;
}
.profile .profile-img .plus-ani.active img:nth-child(2) {
  opacity: 0.33;
  transition: 0.5s;
}
.profile .profile-img .plus-ani.active img:nth-child(3) {
  opacity: 0.66;
  transition: 0.5s;
}
.profile .profile-img .plus-ani.active img:nth-child(4) {
  opacity: 1;
  transition: 0.5s;
}
.profile .profile-img .ani-key1 {
  bottom: 84%;
  right: 23%;
}
.profile .profile-img .ani-key2 {
  bottom: 68%;
  left: 20%;
}
.profile .profile-img .ani-key3 {
  bottom: 35%;
  right: 24%;
}
.profile .profile-txt {
  flex-basis: 49%;
  height: 650px;
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  padding: 15px 5px 15px 15px;
  box-sizing: border-box;
  overflow-y: scroll;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
}
.profile .profile-txt::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
  height: 630px;
}
.profile .profile-txt::-webkit-scrollbar-thumb {
  background-color: #f23e3e;
  border-radius: 5px;
}
.profile .profile-txt::-webkit-scrollbar-button {
  background-color: transparent;
  height: 12px;
}
.profile .profile-txt > div {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.profile .profile-txt > div:not(:last-child) {
  margin-bottom: 25px;
}
.profile .profile-txt > div p.bold {
  font-weight: 600;
  margin-right: 20px;
}
.profile .profile-txt .profile-about {
  position: relative;
}
.profile .profile-txt .profile-about .name {
  display: flex;
  align-items: center;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 20px;
}
.profile .profile-txt .profile-about .name .icon-area {
  width: 35px;
  height: 35px;
  background-color: #494949;
  border-radius: 10px;
  padding: 3px;
  box-sizing: border-box;
}
.profile .profile-txt .profile-about .name .icon-area img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.profile .profile-txt .profile-about .name h3 {
  margin-left: 10px;
  font-size: 24px;
}
.profile .profile-txt .profile-about .age {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile .profile-txt .profile-about .keyword {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 4px -1.5px rgba(0, 0, 0, 0.5), inset 0 -2px 4px -2px rgba(0, 0, 0, 0.5), inset 0 2px 4px -2px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 15px;
}
.profile .profile-txt .profile-about .keyword .key-area {
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile .profile-txt .profile-about .keyword .key-area p {
  margin-right: 15px;
}
.profile .profile-txt .profile-about .keyword .key-area:not(:last-child) {
  margin-bottom: 15px;
}
.profile .profile-txt .profile-about .keyword .key-area .bar-area {
  width: 93px;
  height: 13px;
  background-color: #111;
  border-radius: 6px;
}
.profile .profile-txt .profile-about .keyword .key-area.key1 .bar-color {
  width: 77%;
  height: 100%;
  border-radius: 6px;
  background-color: #f23e3e;
}
.profile .profile-txt .profile-about .keyword .key-area.key2 .bar-color {
  width: 86%;
  height: 100%;
  border-radius: 6px;
  background-color: #fea100;
}
.profile .profile-txt .profile-about .keyword .key-area.key3 .bar-color {
  width: 72%;
  height: 100%;
  border-radius: 6px;
  background-color: #ffe400;
}
.profile .profile-txt .profile-edu > div {
  display: flex;
  flex-wrap: wrap;
}
.profile .profile-txt .profile-edu > div:not(:last-child) {
  margin-bottom: 20px;
}
.profile .profile-txt .profile-skill > p {
  margin-bottom: 20px;
}
.profile .profile-txt .profile-skill .progress-area {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.profile .profile-txt .profile-skill .progress-area .progress {
  flex-basis: 15.5%;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  cursor: pointer;
}
.profile .profile-txt .profile-skill .progress-area .progress::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-top: 12px solid rgba(235, 123, 123, 0.9);
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  left: 50%;
  top: -25px;
  transform: translateX(-50%) scale(0);
}
.profile .profile-txt .profile-skill .progress-area .progress:hover::before {
  transform: translateX(-50%) scale(1);
  top: -20px;
  transition: 0.3s 0.1s;
}
.profile .profile-txt .profile-skill .progress-area .progress p {
  text-align: center;
  margin-top: 10px;
}
.profile .profile-txt .profile-skill .progress-area .progress .progressbar-text {
  top: 37% !important;
  font-size: 16px;
}
.profile .profile-txt .profile-skill .progress-area::after {
  content: "";
  font-size: 16px;
  position: absolute;
  width: 100%;
  height: 70px;
  border-radius: 15px;
  background-color: rgba(231, 156, 156, 0.9);
  left: 50%;
  top: -45px;
  transform: translateX(-50%) scale(0);
  transition: 0.3s;
  white-space: pre;
  line-height: 30px;
  box-sizing: border-box;
  padding-top: 5px;
  text-align: center;
}
.profile .profile-txt .profile-skill .progress-area.skill-desc1::after {
  content: "PS : 고급 툴을 활용할 수 있고, 사진 편집 및 클리핑 마스크, 레이어 스타일 등으로 \a포스터 및 웹 페이지를 제작할 수 있습니다.";
}
.profile .profile-txt .profile-skill .progress-area.skill-desc2::after {
  content: "AI : 패스파인더 및 마스크 기능, 이미지 트레이스 및 패턴 제작 적용이 가능하고, \a다양한 툴을 활용하여 로고 및 패키지 디자인을 할 수 있습니다.";
}
.profile .profile-txt .profile-skill .progress-area.skill-desc3::after {
  content: "HTML : css 링크 및 js 스크립트, 파비콘 적용 등 기본 기능을 사용할 수 있고, \a태그와 클래스 및 id를 활용하여 웹 페이지를 구성하고 제작할 수 있습니다.";
}
.profile .profile-txt .profile-skill .progress-area.skill-desc4::after {
  content: "CSS : 태그와 클래스명 및 id명을 구분하여 웹 페이지를 디자인할 수 있고, \a기본 설정과 hover, nth-child, before/after 등을 활용할 수 있습니다.";
}
.profile .profile-txt .profile-skill .progress-area.skill-desc5::after {
  content: "JS : jQuery의 기본 문법을 숙지하고 있으며, 라이브러리를 활용하고, \a class명 추가 및 변수/배열 등을 통해 웹 페이지를 디자인 할 수 있습니다.";
}
@media (max-width: 1340px) {
  .profile .profile-txt .profile-skill .progress-area::after {
    height: 70px;
    top: -45px;
    font-size: 14px;
    line-height: 20px;
  }
  .profile .profile-txt .profile-skill .progress-area.on::after {
    top: -90px;
  }
  .profile .profile-txt .profile-skill .progress-area.skill-desc1::after {
    content: "PS : 고급 툴을 활용할 수 있고, \a사진 편집 및 클리핑 마스크, 레이어 스타일 등으로 \a포스터 및 웹 페이지를 제작할 수 있습니다.";
  }
  .profile .profile-txt .profile-skill .progress-area.skill-desc2::after {
    content: "AI : 패스파인더 및 마스크 기능, 이미지 트레이스, \a패턴 적용이 가능하고, 다양한 툴을 활용하여 \a로고 및 패키지 디자인을 할 수 있습니다.";
  }
  .profile .profile-txt .profile-skill .progress-area.skill-desc3::after {
    content: "HTML : css 링크 및 js 스크립트, 파비콘 적용 등을 \a사용할 수 있고, 태그와 클래스, id를 활용하여 \a웹 페이지를 구성하고 제작할 수 있습니다.";
  }
  .profile .profile-txt .profile-skill .progress-area.skill-desc4::after {
    content: "CSS : 태그와 클래스명 및 id명을 구분하여 \a웹 페이지를 디자인할 수 있고, 기본 설정과 hover, \anth-child, before/after 등을 활용할 수 있습니다.";
  }
  .profile .profile-txt .profile-skill .progress-area.skill-desc5::after {
    content: "JS : jQuery의 기본 문법을 숙지하고 있으며, \a라이브러리 활용과 class 및 변수/배열 등을 통해 \a웹 페이지를 디자인 할 수 있습니다.";
  }
}
@media (max-width: 767px) {
  .profile .profile-txt .profile-skill .progress-area::after {
    display: none;
  }
  .profile .profile-txt .profile-skill .progress-area .progress::before {
    display: none;
  }
}
.profile .profile-txt .profile-skill .progress-area.on::after {
  transform: translateX(-50%) scale(1);
  top: -90px;
}
.profile .profile-txt .contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.profile .profile-txt .contact > p {
  flex-basis: 100%;
  margin-bottom: 20px;
}
.profile .profile-txt .contact div {
  flex-basis: 45%;
  text-align: center;
  padding: 30px 0;
  background-color: #ddd;
  box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5), inset 0 -2px 4px -2px rgba(0, 0, 0, 0.5), inset 0 2px 4px -2px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: text;
  -moz-user-select: text;
  user-select: text;
}
.profile .profile-txt .contact div p {
  cursor: text;
}
.profile .profile-txt .contact div::after {
  content: "";
  font-size: 14px;
  position: absolute;
  width: 70%;
  height: 50px;
  border-radius: 15px;
  background-color: rgba(242, 62, 62, 0.3);
  left: 50%;
  top: 0px;
  transform: translateX(-50%) scale(0);
  transition: 0.3s;
  white-space: pre;
  line-height: 20px;
  box-sizing: border-box;
  padding-top: 5px;
}
.profile .profile-txt .contact div:nth-of-type(1)::after {
  content: "글자 클릭 시 \a메일주소가 복사됩니다.";
}
.profile .profile-txt .contact div:nth-of-type(1).copy::after {
  content: "복사 완료!";
  padding-top: 0;
  line-height: 50px;
}
.profile .profile-txt .contact div:nth-of-type(2)::after {
  content: "글자 클릭 시 \a카카오톡 ID가 복사됩니다.";
}
.profile .profile-txt .contact div:nth-of-type(2).copy::after {
  content: "복사 완료!";
  padding-top: 0;
  line-height: 50px;
}
.profile .profile-txt .contact div::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  border-top: 10px solid rgba(242, 62, 62, 0.3);
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  left: 50%;
  top: 20px;
  transform: translateX(-50%) scale(0);
  transition: 0.3s;
}
.profile .profile-txt .contact div:hover::after {
  transform: translateX(-50%) scale(1);
  top: -35px;
}
.profile .profile-txt .contact div:hover::before {
  transform: translateX(-50%) scale(1);
  top: 15px;
}/*# sourceMappingURL=about.css.map */