@charset "utf-8";

@mixin media($point){
  @media #{$point}{
      @content;
  }
}

.profile{
  display: flex;
  max-width: 1620px;
  margin: 0 auto 42px;
  justify-content: space-between;
  .profile-img{
    flex-basis: 49%;
    position: relative;
    padding-left: 8%;
    box-sizing: border-box;
    &::after{
      content: "";
      position: absolute;
      width: 300px;
      height: 90px;
      background: url(../images/profile-main-shadow.png) center center no-repeat;
      bottom: -50px;
      left: 50%;
      transform: translateX(-50%);
    }
    > img{
      width: 393px;
      position: relative;
    }
    .plus-ani{
      position: absolute;
      display: flex;
      flex-direction: column;
      margin-bottom: -26px;
      img{

        $opacity_start: (0.33, 0.66, 1, 0);
        @for $i from 1 through length($opacity_start){
          &:nth-child(#{$i}){
            opacity: nth($opacity_start, $i);
          }
        }
        
      }
      &.active{
        margin-bottom: 0;
        transition: 0.5s;
        img{

          $opacity_end: (0, 0.33, 0.66, 1);
          @for $i from 1 through length($opacity_end){
            &:nth-child(#{$i}){
              opacity: nth($opacity_end, $i);
              transition: 0.5s;
            }
          }

        }
      }
    }
    .ani-key1{
      bottom: 84%;
      right: 23%;
    }
    .ani-key2{
      bottom: 68%;
      left: 20%;
    }
    .ani-key3{
      bottom: 35%;
      right: 24%;
    }
  }
  .profile-txt{
    flex-basis: 49%;
    height: 650px;
    margin-top: 50px;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 20px;
    padding: 15px 5px 15px 15px;
    box-sizing: border-box;
    overflow-y: scroll;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
    &::-webkit-scrollbar{
      width: 10px;
      background-color: transparent;
      height: 630px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #f23e3e;
      border-radius: 5px;
    }
    &::-webkit-scrollbar-button{
      background-color: transparent;
      height: 12px;
    }
    > div{
      width: 100%;
      padding: 25px;
      box-sizing: border-box;
      background-color: rgba(255, 255, 255, 0.45);
      border-radius: 20px;
      box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, 0.5);
      font-size: 18px;
      &:not(:last-child){
        margin-bottom: 25px;
      }
      p.bold{
        font-weight: 600;
        margin-right: 20px;
      }
    }
    .profile-about{
      position: relative;
      .name{
        display: flex;
        align-items: center;
        margin-top: -10px;
        margin-left: -10px;
        margin-bottom: 20px;
        .icon-area{
          width: 35px;
          height: 35px;
          background-color: #494949;
          border-radius: 10px;
          padding: 3px;
          box-sizing: border-box;
          img{
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        h3{
          margin-left: 10px;
          font-size: 24px;
        }
      }
      .age{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }
      .keyword{
        position: absolute;
        right: 20px;
        bottom: 20px;
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: 0 2px 4px -1.5px rgba(0, 0, 0, 0.5), inset 0 -2px 4px -2px rgba(0, 0, 0, 0.5), inset 0 2px 4px -2px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        padding: 15px;
        .key-area{
          font-size: 15px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          p{
            margin-right: 15px;
          }
          &:not(:last-child){
            margin-bottom: 15px;
          }
          .bar-area{
            width: 93px;
            height: 13px;
            background-color: #111;
            border-radius: 6px;
          }
          &.key1{
            .bar-color{
              width: 77%;
              height: 100%;
              border-radius: 6px;
              background-color: #f23e3e;
            }
          }
          &.key2{
            .bar-color{
              width: 86%;
              height: 100%;
              border-radius: 6px;
              background-color: #fea100;
            }
          }
          &.key3{
            .bar-color{
              width: 72%;
              height: 100%;
              border-radius: 6px;
              background-color: #ffe400;
            }
          }
        }
      }
    }
    .profile-edu{
      > div{
        display: flex;
        flex-wrap: wrap;
        &:not(:last-child){
          margin-bottom: 20px;
        }
      }
    }
    .profile-skill{
      > p{
        margin-bottom: 20px;
      }
      .progress-area{
        display: flex;
        justify-content: space-between;
        position: relative;
        .progress{
          flex-basis: 15.5%;
          display: flex;
          flex-direction: column-reverse;
          position: relative;
          cursor: pointer;
          &::before{
            content: "";
            position: absolute;
            box-sizing: border-box;
            border-top: 12px solid rgba(235, 123, 123, 0.9);
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            left: 50%;
            top: -25px;
            transform: translateX(-50%) scale(0);
          }
          &:hover{
            &::before{
              transform: translateX(-50%) scale(1);
              top: -20px;
              transition: 0.3s 0.1s;
            }
          }
          p{
            text-align: center;
            margin-top: 10px;
          }
          .progressbar-text{
            top: 37% !important;
            font-size: 16px;
          }
        }
        &::after{
          content: "";
          font-size: 16px;
          position: absolute;
          width: 100%;
          height: 70px;
          border-radius: 15px;
          background-color: rgba(231, 156, 156, 0.9);
          left: 50%;
          top: -45px;
          transform: translateX(-50%) scale(0);
          transition: 0.3s;
          white-space: pre;
          line-height: 30px;
          box-sizing: border-box;
          padding-top: 5px;
          text-align: center;
        }

        &.skill-desc1::after{
          content: "PS : 고급 툴을 활용할 수 있고, 사진 편집 및 클리핑 마스크, 레이어 스타일 등으로 \A 포스터 및 웹 페이지를 제작할 수 있습니다.";
        }
        &.skill-desc2::after{
          content: "AI : 패스파인더 및 마스크 기능, 이미지 트레이스 및 패턴 제작 적용이 가능하고, \A 다양한 툴을 활용하여 로고 및 패키지 디자인을 할 수 있습니다.";
        }
        &.skill-desc3::after{
          content: "HTML : css 링크 및 js 스크립트, 파비콘 적용 등 기본 기능을 사용할 수 있고, \A 태그와 클래스 및 id를 활용하여 웹 페이지를 구성하고 제작할 수 있습니다.";
        }
        &.skill-desc4::after{
          content: "CSS : 태그와 클래스명 및 id명을 구분하여 웹 페이지를 디자인할 수 있고, \A 기본 설정과 hover, nth-child, before/after 등을 활용할 수 있습니다.";
        }
        &.skill-desc5::after{
          content: "JS : jQuery의 기본 문법을 숙지하고 있으며, 라이브러리를 활용하고, \A class명 추가 및 변수/배열 등을 통해 웹 페이지를 디자인 할 수 있습니다.";
        }

        @include media("(max-width: 1340px)"){
          &::after{
            height: 70px;
            top: -45px;
            font-size: 14px;
            line-height: 20px;
          }
          &.on{
            &::after{
              top: -90px;
            }
          }
          &.skill-desc1::after{
            content: "PS : 고급 툴을 활용할 수 있고, \A 사진 편집 및 클리핑 마스크, 레이어 스타일 등으로 \A 포스터 및 웹 페이지를 제작할 수 있습니다.";
          }
          &.skill-desc2::after{
            content: "AI : 패스파인더 및 마스크 기능, 이미지 트레이스, \A 패턴 적용이 가능하고, 다양한 툴을 활용하여 \A 로고 및 패키지 디자인을 할 수 있습니다.";
          }
          &.skill-desc3::after{
            content: "HTML : css 링크 및 js 스크립트, 파비콘 적용 등을 \A 사용할 수 있고, 태그와 클래스, id를 활용하여 \A 웹 페이지를 구성하고 제작할 수 있습니다.";
          }
          &.skill-desc4::after{
            content: "CSS : 태그와 클래스명 및 id명을 구분하여 \A 웹 페이지를 디자인할 수 있고, 기본 설정과 hover, \A nth-child, before/after 등을 활용할 수 있습니다.";
          }
          &.skill-desc5::after{
            content: "JS : jQuery의 기본 문법을 숙지하고 있으며, \A 라이브러리 활용과 class 및 변수/배열 등을 통해 \A 웹 페이지를 디자인 할 수 있습니다.";
          }
        }

        @include media("(max-width: 767px)"){
          &::after{
            display: none;
          }
          .progress{
            &::before{
              display: none;
            }
          }
        }

        &.on{
          &::after{
            transform: translateX(-50%) scale(1);
            top: -90px;
          }
        }
      }
    }
    .contact{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      > p{
        flex-basis: 100%;
        margin-bottom: 20px;
      }
      div{
        flex-basis: 45%;
        text-align: center;
        padding: 30px 0;
        background-color: #ddd;
        box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.5), inset 0 -2px 4px -2px rgba(0, 0, 0, 0.5), inset 0 2px 4px -2px rgba(255, 255, 255, 0.5);
        border-radius: 20px;
        position: relative;
        cursor: pointer;

        -webkit-user-select:text;
        -moz-user-select:text;
        -ms-user-select:text;
        user-select:text;

        p{
          cursor: text;
        }
        &::after{
          content: "";
          font-size: 14px;
          position: absolute;
          width: 70%;
          height: 50px;
          border-radius: 15px;
          background-color: rgba(242, 62, 62, 0.3);
          left: 50%;
          top: 0px;
          transform: translateX(-50%) scale(0);
          transition: 0.3s;
          white-space: pre;
          line-height: 20px;
          box-sizing: border-box;
          padding-top: 5px;
        }
        &:nth-of-type(1){
          &::after{
            content: "글자 클릭 시 \A 메일주소가 복사됩니다.";
          }
          &.copy{
            &::after{
              content: "복사 완료!";
              padding-top: 0;
              line-height: 50px;
            }
          }
        }
        &:nth-of-type(2){
          &::after{
            content: "글자 클릭 시 \A 카카오톡 ID가 복사됩니다.";
          }
          &.copy{
            &::after{
              content: "복사 완료!";
              padding-top: 0;
              line-height: 50px;
            }
          }
        }
        &::before{
          content: "";
          position: absolute;
          box-sizing: border-box;
          border-top: 10px solid rgba(242, 62, 62, 0.3);
          border-left: 7.5px solid transparent;
          border-right: 7.5px solid transparent;
          left: 50%;
          top: 20px;
          transform: translateX(-50%) scale(0);
          transition: 0.3s;
        }
        &:hover{
          &::after{
            transform: translateX(-50%) scale(1);
            top: -35px;
          }
          &::before{
            transform: translateX(-50%) scale(1);
            top: 15px;
          }
        }
      }
    }
  }
}

