* {
  margin: 0;
  padding: 0;
  font-family: "S-CoreDream-3Light";
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  vertical-align: middle;
}

@font-face {
  font-family: "yangjin";
  src: url("https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robingraffitifilledin";
  src: url("../fonts/RobinGraffitiFilledin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tiktok";
  src: url("../fonts/Tiktok.otf") format("otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
html, body {
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #f4f5d6, #cfe5df);
  overflow: hidden;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.header {
  width: 100%;
  height: 80px;
  display: flex;
}
.header .left {
  height: 100%;
  flex-basis: 10.5%;
  background-color: #fff;
  border-radius: 0 0 0 30px;
  box-shadow: 0 -14px 7px -7px rgba(0, 0, 0, 0.5) inset;
  display: flex;
  justify-content: center;
}
.header .left .hbg-btn {
  display: flex;
  align-items: center;
}
.header .left .hbg-btn img {
  width: 42px;
  cursor: pointer;
}
.header .left .hbg-btn h3 {
  font-size: 18px;
  margin-left: 13px;
  font-weight: normal;
  font-family: "yangjin";
}
.header .center {
  flex-basis: 79%;
  height: 70px;
  background: linear-gradient(180deg, #757575, #262626, #262626, #262626, #262626, #171717);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  padding: 0 3%;
}
.header .center .speaker img:first-child {
  margin-right: 25px;
}
.header .center .logo a h3 {
  color: #b5b5b5;
  font-size: 37px;
  font-family: "yangjin";
  margin-top: 5px;
}
.header .center .logo a h3 span {
  color: #dbdbdb;
  font-size: 40px;
  font-family: "yangjin";
}
.header .right {
  height: 100%;
  flex-basis: 10.5%;
  background-color: #fff;
  border-radius: 0 0 30px 0;
  box-shadow: 0 -14px 7px -7px rgba(0, 0, 0, 0.5) inset;
  position: relative;
}
.header .right .dark-btn {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  height: 42px;
  width: 100px;
  border-radius: 21px;
  background: url(../images/dark-btn-bg.png) center right no-repeat;
  box-shadow: 0px 0px 3.8px 0.2px rgba(0, 0, 0, 0.35) inset;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}
.header .right .dark-btn:hover {
  background: url(../images/dark-btn-bg.png) center left no-repeat;
}
.header .right .dark-btn:hover .dark-sw {
  left: calc(100% - 37.75px);
}
.header .right .dark-btn .dark-sw {
  position: absolute;
  left: 4.25px;
  width: 33.5px;
  height: 33.5px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0px 8px 5px 0px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.window {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: transparent;
  display: none;
  z-index: 1;
}
.window.on {
  display: block;
}

.hbg-nav {
  position: absolute;
  top: 100px;
  left: -18%;
  width: 18%;
  transition: 0.3s;
  z-index: 9999;
}
.hbg-nav.on {
  top: 100px;
  left: 20px;
}
.hbg-nav .nav-area {
  width: 100%;
  height: 600px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 50px 40px;
  box-sizing: border-box;
  font-size: 18px;
}
.hbg-nav .nav-area span {
  font-family: "yangjin";
  color: #3f3f3f;
}
.hbg-nav .nav-area > ul > li a {
  display: inline-block;
  margin: 26px 0;
  font-family: "yangjin";
}
.hbg-nav .nav-area > ul > li:first-child a {
  margin-top: 0;
}
.hbg-nav .nav-area > ul > li > ul {
  border-left: 1px dashed #3f3f3f;
  padding-left: 22px;
}
.hbg-nav .nav-area > ul > li > ul li {
  font-size: 15px;
}
.hbg-nav .nav-area > ul > li > ul li a {
  margin: 22.5px 0;
}

.content-title {
  width: 100%;
  text-align: center;
  margin-top: 40px;
}
.content-title h3 {
  font-size: 50px;
  font-family: "tiktok";
  font-weight: normal;
}
.content-title h3 span {
  font-family: "yangjin";
  font-size: 35px;
}

.quick-menu {
  position: absolute;
  width: 120px;
  border: 1px solid #ddd;
  box-shadow: 4px 4px 2px -1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  z-index: 9999;
  background-color: #fff;
  display: none;
}
.quick-menu ul li {
  height: 35px;
  line-height: 35px;
  text-align: center;
}
.quick-menu ul li.quick-submenu {
  background-color: #f0f0f0;
}
.quick-menu ul li:last-child {
  border-bottom: 0;
}
.quick-menu ul li a {
  font-size: 13px;
  color: #444444;
  display: inline-block;
  width: 100%;
  font-family: "yangjin";
}
.quick-menu ul li a span {
  font-family: "yangjin";
  color: #3f3f3f;
}
.quick-menu ul li:hover {
  background-color: #feffd6;
}
.quick-menu ul li:hover a {
  color: #f23e3e;
  font-size: 14px;
}
.quick-menu ul li:hover a span {
  color: #f23e3e;
  font-size: 14px;
}

.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
}
.footer p {
  font-size: 13px;
  color: #262626;
}/*# sourceMappingURL=common.css.map */