@charset "UTF-8";
.back-arrow {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #f23e3e;
  border-radius: 50%;
  top: 220px;
  left: 4%;
  z-index: 99;
}
.back-arrow a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.back-arrow a .img-area {
  width: 100%;
  height: 100%;
  position: absolute;
}
.back-arrow a .img-area img {
  position: absolute;
  right: 11px;
  top: 11px;
}
.back-arrow a .img-area.on {
  right: 0;
  width: 0;
  overflow: hidden;
  transition: 0.5s;
}
.back-arrow a:hover .img-area.on {
  width: 100%;
}

.web-work {
  display: flex;
  max-width: 1760px;
  margin: 90px auto 137px;
  justify-content: space-between;
  position: relative;
}
.web-work::after {
  content: "";
  position: absolute;
  width: 700px;
  height: 100px;
  background: url(../images/work-img-shadow.png) center center no-repeat;
  bottom: -69px;
  left: 31.5%;
  transform: translateX(-50%);
}
.web-work .web-work-list {
  flex-basis: 8.5%;
  height: 500px;
  overflow-y: scroll;
  text-align: center;
  margin-top: 10px;
  border-radius: 7px;
  box-shadow: inset 0 -6px 6px -6px rgba(0, 0, 0, 0.5), 0 6px 6px -6px rgba(255, 255, 255, 0.5);
}
.web-work .web-work-list::-webkit-scrollbar {
  display: none;
}
.web-work .web-work-list h3 {
  margin-top: 28px;
  margin-bottom: 15px;
  font-size: 22px;
  font-family: "yangjin";
  font-weight: normal;
  position: relative;
}
.web-work .web-work-list h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 70%;
  height: 1px;
  background-color: #000;
}
.web-work .web-work-list ul {
  width: 100%;
}
.web-work .web-work-list ul li {
  width: 94%;
  height: 100px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 20px;
  border: 4px solid #fea100;
  box-sizing: border-box;
  padding: 7px;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5), inset 0 -4px 6px -2px rgba(0, 0, 0, 0.5), inset 0 4px 6px -2px rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.web-work .web-work-list ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: 0.3s;
}
.web-work .web-work-list ul li:hover::after, .web-work .web-work-list ul li.on::after {
  background-color: rgba(0, 0, 0, 0);
}
.web-work .web-work-list ul li:last-child {
  margin-bottom: 10px;
}
.web-work .web-work-list ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.web-work .swiper-pagination {
  bottom: -50px;
}
.web-work .swiper-pagination-bullet {
  background-color: #aaa;
  opacity: 0.5;
  transition: 0.3s;
}
.web-work .swiper-pagination-bullet:hover {
  background-color: #fea100;
}
.web-work .swiper-pagination-bullet-active {
  background-color: #fea100;
  opacity: 1;
}
.web-work .web-content-area {
  flex-basis: 86%;
  box-sizing: border-box;
  padding-bottom: 10px;
}
.web-work .web-content-area .web-content-wrap {
  flex-basis: 100%;
}
.web-work .web-content-area .web-content-wrap .web-content {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-right: 4%;
  /* 리스트 길이 만큼 순회 */
  /* 리스트 길이 만큼 순회 */
  /* 리스트 길이 만큼 순회 */
  /* 리스트 길이 만큼 순회 */
  /* 리스트 길이 만큼 순회 */
  /* 리스트 길이 만큼 순회 */
  /* 리스트 길이 만큼 순회 */
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-desc .btn-wrap .link-btn:hover {
  border-color: #1a386b;
  color: #fab917 !important;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-desc .btn-wrap .link-btn::before {
  background: #1a386b;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-desc .btn-wrap .link-btn::after {
  background: #fab917;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-desc .btn-wrap .link-btn:hover {
  border-color: #111111;
  color: #44b1a8 !important;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-desc .btn-wrap .link-btn::before {
  background: #111111;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-desc .btn-wrap .link-btn::after {
  background: #44b1a8;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-desc .btn-wrap .link-btn:hover {
  border-color: #009132;
  color: #ffc20d !important;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-desc .btn-wrap .link-btn::before {
  background: #009132;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-desc .btn-wrap .link-btn::after {
  background: #ffc20d;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(4) .web-content-desc .btn-wrap .link-btn:hover {
  border-color: #945943;
  color: #5ed179 !important;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(4) .web-content-desc .btn-wrap .link-btn::before {
  background: #945943;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(4) .web-content-desc .btn-wrap .link-btn::after {
  background: #5ed179;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-img > div:hover::after {
  background-size: cover;
  background-position: center bottom;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-img .pc::after {
  background: url(../images/thumb-shinhwa-pc.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-img .tablet::after {
  background: url(../images/thumb-shinhwa-tablet.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(1) .web-content-img .mobile::after {
  background: url(../images/thumb-shinhwa-mobile.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-img > div:hover::after {
  background-size: cover;
  background-position: center bottom;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-img .pc::after {
  background: url(../images/thumb-arte-pc.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-img .tablet::after {
  background: url(../images/thumb-arte-pc.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(2) .web-content-img .mobile::after {
  background: url(../images/thumb-arte-pc.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-img > div:hover::after {
  background-size: cover;
  background-position: center bottom;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-img .pc::after {
  background: url(../images/thumb-subway-pc.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-img .tablet::after {
  background: url(../images/thumb-subway-tablet.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content:nth-child(3) .web-content-img .mobile::after {
  background: url(../images/thumb-subway-mobile.png);
  background-size: cover;
  background-position: center top;
}
.web-work .web-content-area .web-content-wrap .web-content > div {
  flex-basis: 49%;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img img {
  width: 100%;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .pc {
  width: 74%;
  position: absolute;
  left: 45%;
  transform: translateX(-50%);
  bottom: 4%;
  overflow: hidden;
  cursor: pointer;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .pc::after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 93%;
  height: 64%;
  top: 4.5%;
  left: 50%;
  transform: translateX(-50%);
  transition: 5s linear;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .tablet {
  position: absolute;
  width: 29%;
  right: 0;
  bottom: 4%;
  overflow: hidden;
  cursor: pointer;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .tablet::after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 93%;
  height: 94.2%;
  border-radius: 5px;
  top: 3.2%;
  left: 50%;
  transform: translateX(-50%);
  transition: 5s linear;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .mobile {
  position: absolute;
  width: 17%;
  left: 0;
  bottom: 4%;
  overflow: hidden;
  cursor: pointer;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .mobile::after {
  content: "";
  position: absolute;
  overflow: hidden;
  width: 93%;
  height: 95.5%;
  border-radius: 10px;
  top: 2.3%;
  left: 50%;
  transform: translateX(-50%);
  transition: 5s linear;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .app-img {
  transition: 0.3s;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .app-img.off {
  opacity: 0.6;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .app-center {
  width: 28%;
  margin: 0 10px 25px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .app-left {
  width: 26.5%;
  transform: skewY(-7deg);
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-img .app-right {
  width: 26.5%;
  transform: skewY(7deg);
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc {
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 20px;
  padding: 40px 45px 45px 45px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.5);
  font-size: 18px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc p.bold {
  font-weight: bold;
  margin-right: 20px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc h3 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 18px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .sub-desc {
  font-size: 20px;
  margin-bottom: 30px;
  letter-spacing: -0.05em;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc span {
  margin-right: 10px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc > div {
  display: flex;
  margin-bottom: 25px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap::after {
  content: "";
  position: absolute;
  background: url(../images/dots.png) repeat-x center center;
  height: 5px;
  width: 50%;
  left: 50%;
  top: 50%;
  margin-top: 7.5px;
  transform: translate(-50%, -50%);
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn {
  padding: 11px 17px;
  margin-top: 15px;
  color: #494949;
  cursor: pointer;
  text-align: center;
  text-transform: capitalize;
  border: 3px solid #494949;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out, border-width 0s, padding 0s;
  background: #fff !important;
  z-index: 10;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn span {
  font-family: "yangjin";
  margin: 0;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn:hover {
  padding: 14px 20px;
  border-width: 0px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  transition: all 0.4s cubic-bezier(0.2, 0.95, 0.57, 0.99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.6);
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn:hover::before, .web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .btn1O:hover::before {
  opacity: 1;
  width: 116%;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .link-btn:hover::after, .web-work .web-content-area .web-content-wrap .web-content .web-content-desc .btn-wrap .btn1O:hover::after {
  opacity: 1;
  width: 120%;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .two-btn {
  box-sizing: border-box;
  padding: 0 14%;
  justify-content: space-around;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .two-btn .link-btn {
  padding: 11px 17px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .two-btn .link-btn:hover {
  padding: 14px 20px;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .one-btn {
  justify-content: center;
}
.web-work .web-content-area .web-content-wrap .web-content .web-content-desc .one-btn::after {
  display: none;
}

.modal {
  position: fixed;
  z-index: 120;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  display: none;
}
.modal .modal-content {
  width: 100%;
  position: fixed;
  height: 100%;
  background-color: #fff;
  top: 0;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  overflow-y: scroll;
  display: none;
}
.modal .modal-content::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
.modal .modal-content::-webkit-scrollbar-thumb {
  background-color: #f23e3e;
  border-radius: 6px;
}
.modal .modal-content a {
  position: absolute;
  right: 3%;
  top: 2%;
}
.modal .modal-content a img {
  width: 50px;
}
.modal .modal-content > img {
  width: 100%;
}/*# sourceMappingURL=web-work.css.map */