@charset "utf-8";

.works{
  display: flex;
  max-width: 1420px;
  margin: 50px auto 42px;
  justify-content: space-around;
  > div{
    flex-basis: 47%;
    // background-color: #ccc;
    border-radius: 20px;
    // border-radius: 50%;
    height: 650px;
    text-align: center;
    a{
      display: inline-block;
      width: 50%;
      height: 100%;
      position: relative;
      // background-color: #ddd;
      &::after{
        content: "";
        position: absolute;
        width: 550px;
        height: 550px;
        background-color: #ffffff7e;
        box-shadow: 4px 4px 10px -5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        left: 50%;
        top: 55%;
        transform: translate(-50%,-50%);
      }
      h3{
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%,-50%);
        z-index: 1;
        font-family: "tiktok";
        font-weight: normal;
        font-size: 50px;
        color: #f23e3e;
        transition: 0.3s;
        opacity: 0.5;
        span{
          font-family: "yangjin";
          font-size: 40px;
        }
      }
      &:hover{
        h3{
          top: 10%;
          left: 80%;
          transform: translate(-50%,-50%) rotate(15deg);
          opacity: 0.3;
        }
      }
    }
  }

  .web{
    a{
      img{
        width: 150%;
        position: absolute;
        left: 50%;
        top: 65%;
        z-index: 1;
        &:nth-of-type(1){
          transform: translate(-50%,-50%) rotate(-30deg);
          opacity: 1;
          transition: 0.3s 0.2s;
        }
        &:nth-of-type(2){
          transform: translate(-50%,-50%) rotate(-15deg);
          opacity: 0;
          transition: 0.3s;
        }
        &:nth-of-type(3){
          width: 100%;
          top: 50%;
          left: 55%;
          transform: translate(-50%,-50%);
          opacity: 0;
          // transition: 0.3s;
        }
        &:nth-of-type(4){
          width: 100%;
          top: 40%;
          left: 25%;
          transform: translate(-50%,-50%);
          opacity: 0;
          // transition: 0.3s;
        }
      }
      &:hover{
        &::after{
          background-color: #ffffff7e;
        }
        img{
          &:nth-of-type(1){
            transform: translate(-50%,-50%) rotate(-15deg);
            opacity: 0;
            transition: 0.3s;
          }
          &:nth-of-type(2){
            transform: translate(-50%,-50%);
            opacity: 1;
            transition: 0.3s 0.2s;
          }
          &:nth-of-type(3){
            top: 45%;
            left: 50%;
            opacity: 0.9;
            transition: 0.3s 0.4s;
          }
          &:nth-of-type(4){
            top: 35%;
            left: 20%;
            opacity: 0.9;
            transition: 0.3s 0.6s;
          }
        }
      }
    }
  }
  .design{
    a{
      img{
        width: 80%;
        position: absolute;
        z-index: 1;
        &:nth-of-type(1){
          width: 75%;
          left: 50%;
          top: 70%;
          transform: translate(-50%,-50%);
          opacity: 1;
          transition: 0.3s 0.2s;
        }
        &:nth-of-type(2){
          left: 50%;
          top: 75%;
          transform: translate(-50%,-50%) rotate(5deg);
          opacity: 0;
          transition: 0.3s;
        }
        &:nth-of-type(3){
          left: 50%;
          top: 60%;
          transform: translate(-50%,-50%);
          opacity: 0;
          transition: 0.3s;
        }
      }
      &:hover{
        &::after{
          background-color: #ffffff7e;
        }
        img{
          &:nth-of-type(1){
            opacity: 0;
            transition: 0.3s;
          }
          &:nth-of-type(2){
            opacity: 1;
            transition: 0.3s 0.2s;
          }
          &:nth-of-type(3){
            transform: translate(-50%,-50%) rotate(120deg);
            opacity: 1;
            left: 130%;
            transition: 0.3s 0.2s;
          }
        }
      }
    }
  }
}